<html>
    <p>Placeholder for November lab
    
    <li> I be <%= myTypeClient %>, good at mullet, bad at stop talk</p>
            
    <footer>
    <a href="/send">send</a>
    <a href="https://github.com/CrimsonHog/bug-free-fortnight.git" target="_blank">Source Code</a>
    </footer>
    </html>