<h1>EJS Server.</h1>

<p>November Lab - Ethan Rinke.
    

    
<li> I am <%= myTypeClient %>, critical thinker, usually quiet</p>


<footer> Links to Repo:

    <a href="https://crimsonhog.github.io/bug-free-fortnight/" target="_blank">HTML Website</a> |

    <a href="https://github.com/CrimsonHog/bug-free-fortnight.git/" target="_blank">Source Code</a>

</footer>